.sign-in-form {
    padding: var(--container-padding);
    min-height: 33.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.sign-in-form>form {
    width: 32.5rem;
    min-height: 23.188rem;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 20px #0026031c;
}

.sign-in-form>form>h1 {
    margin: 0px;
    text-align: center;
    font-weight: 600;
}

.sign-in-form>form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

/* Login-specific: Remember me container */
.rememberme-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    font-size: 14px;
}

.rememberme-container>div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rememberme-container>div>input {
    height: 20px;
    width: 20px;
}

.rememberme-container>a {
    text-decoration: none;
    color: #666666;
}

.rememberme-container>a:hover {
    text-decoration: underline;
}