/*  Button styles*/
.btn {
    height: 45px;
    border-radius: 43px;
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 0 25px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-success {
    background-color: var(--success);
}

.btn-danger {
    background-color: var(--danger);
}

.btn-warning {
    background-color: var(--warning);
}

