/* Footer layout */



.newsletter-container {
    display: flex;
    height: 162px;
    align-items: center;
    padding: var(--container-padding);
    background-color: var(--bg-white);
}

.newsletter-heading-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.newsletter-heading-container>h4 {
    font-size: 24px;
    font-weight: 600;
}

.newsletter-heading-container>p {
    font-size: 14px;
    color: #999999;
    width: 50%;
    margin: 0px;
}

.newsletter-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.newsletter-form-container form {
    position: relative;
}

.newsletter-form-container>form>input[type="email"] {
    height: 52px;
    width: 20rem;
    border-radius: 46px;
    border: 1px solid #E6E6E6;
    padding: 0 180px 0 24px;
    outline: none;
}

.newsletter-form-container>form>button {
    width: 162px;
    height: 52px;
    border-radius: 46px;
    border: none;
    background-color: var(--primary);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.footer-navlinks-container {
    background-color: #1a1a1a;
    color: var(--bg-white);
    padding: var(--container-padding);
    height: 23rem;
    display: flex;
    align-items: center;
}

.footer-navlinks-heading {
    display: flex;
    flex-direction: column;

}

.footer-navlinks-heading>h5 {
    color: #808080;
    font-size: 0.875rem;
    width: 50%;
    font-weight: 400;
}

.footer-navlinks-heading>div {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-navlinks-heading>div>p {
    font-weight: 500;
    font-size: 0.875rem;
    position: relative;

}

.footer-navlinks-heading>div>p::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    bottom: -8px;
    left: 0;
}

.footer-navlinks-heading>div>span {
    color: #808080;
}

.footer-navlinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-navlinks>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-navlinks>h4 {
    font-size: 16px;
    font-weight: 500;
}

.footer-navlinks>div>div {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.footer-navlinks>div>div>a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

.rights-reserved {
    padding: var(--container-padding);
    background-color: #1a1a1a;
    color: var(--bg-white);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #80808017;
}
.rights-reserved p{
    margin: 0px;
    font-size: 14px;
    color: #808080;
}